/* -----------------------------Generales----------------------------- */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    /* font-family: popin; */
    max-width: 100% !important;
    overflow-x: hidden !important;
    /*height:1000vh; Herramienta de desiño*/
}

:root{
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --z1:#232741;
    --z2:#2c2e43;
}
/* -----------------------------Navbar----------------------------- */
nav li a{
    color:var(--bs-secondary) !important;
    transition:color .3s !important;

}
nav li a:hover{
    color:var(--bs-light) !important;
    transition:color .3s !important;
}


#menu{
    padding:10px;
}

nav.fixed#menu {
    animation: popDown 0.5s;
}


nav.fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 3; /*Quitar mas tarde si hace falta*/
    /* height:55px; */
    padding:1px !important;

}

/* nav.fixed .container{
    margin:0 !important;
} */

@keyframes popDown {
    0% {
      transform: translateY(-100px);
    }
  }

.active-item{           /*Para utilizar en js*/
    color:var(--bs-danger) !important;
    transform: translateX(5px) scale(1) !important;
}


/* -----------------------------Header----------------------------- */
.fondo-img{
    width:100%;
    height:600px;
    background: linear-gradient(rgba(5,7,8, 0.5), rgba(5,7,8, 0.5)), url("../img/ba1.jpg");
    /*Parallax*/
    /* background-attachment: fixed; */
    background-position:50% 70%;
    background-size:100%;
}

.fondo-img .row{
    height:500px;
}

.btn-banner{
    color:var(--bs-light);
    border:1px solid var(--bs-light);
}

.btn-banner:hover{
    border:1px solid var(--bs-light) !important;
    background-color: var(--bs-primary)!important;
}

.btn{
    transition: .3s ease !important;
    font-weight: bold;
}
.btn:hover{
    transition: .3s ease !important;
    transform:scale(1.05); 
    
}


/* -----------------------------Seccion Oradores----------------------------- */

.card-text{
    font-size: 13px !important;
    /* color:var(--bs-secondary); */
    /* font-weight:bold; */
}

.card{
    transition: ease .3s;
    overflow:hidden !important;
}
.card:hover{
    transform:scale(1.05);
    transition: ease .3s;
    cursor:pointer;
}

 

/* -----------------------------Seccion Fecha y Lugar----------------------------- */

.pic>img{
    width:110%;
}

/* -----------------------------Seccion Conversion----------------------------- */

form{
    width:70%;
    margin:auto;
}
/* input[type="text"]{
    width:80%;
} */
textarea{
    width:100%;
    padding:10px;
    height:150px;
    border:1px solid var(--bs-gray-500) !important;
    border-radius: 10px;
}

form>button{
    width:100%;
    padding:14px !important;
    font-size: larger !important;
}


/* --------------------------Seccion tickets--------------------------- */
#comprar-tickets{
    margin-top:100px;
    height:700px;
    /* border:1px solid #000; */
}

.box-categorias{
    border:2px solid var(--bs-primary);
    text-align:center;
    height:210px;
    width:250px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.box-categorias p:last-child{
    color:var(--bs-secondary);
}

.b-w2{
    border:2px solid var(--bs-warning);
}

.btn-form{
    width:100%;
    /* background:var(--bs-success); */
}

#total{
    padding:10px;
}

/* -----------------------------Footer----------------------------- */
footer{
    height:100px;
    width:100%;
    /* background: -webkit-linear-gradient(180deg, #19587A, #183f55); */
    background: rgb(24,63,85);
background: linear-gradient(126deg, rgba(24,63,85,1) 44%, rgba(25,88,122,1) 100%);
}
footer li{
    color:var(--bs-light);
    list-style: none;
    padding: 0 30px;
    cursor:pointer;
    text-align: center;
    display:flex;
    align-items: center;
}